<h1>אהלן אהלן</h1>

<p>זה הפרוייקט השני בטטוריאל אונליין, נחמד מאוד</p>
<p>Find me in app/views/welcome/index.html.erb</p>

<h2><%= link_to 'users', 'users#show' %>
<p>
<h2><%= link_to 'microposts', 'microposts#show' %>
<p>
<h2><%= link_to 'מה עוד', '-' %>


